!!!
%html
  %head
    %title= title

    = stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes'
    = stylesheet_link_tag 'css3buttons'
    = stylesheet_link_tag 'application'

    = javascript_include_tag :defaults
    = csrf_meta_tag

    :css
      a {
        width: 100%;
      }

    :javascript
      $(document).ready(function() {
        if ($('.flash')) {
          setTimeout(function() {
            $('.flash').remove();
          }, 5000);
        }
      });
  %body
    #header
      Current Location: 
      - if session[:location]
        = session[:location].try(:name)
      - else
        None selected

      = link_to 'change', locations_path

    #flash
      - flash.each do |key, value|
        .flash{:class => key}= value

    = yield
